.temaInput{
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 350px;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 10px;
}

.label-input{
    display: flex;
    width: 400px;
    position: relative;
    border-bottom: 2px solid white;
    margin-bottom: 30px;
    margin-left: auto;
  margin-right: auto;
}

.label-input label select{
    width: 190px;
}

.addButton{
    background-color: white;
    border: none;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Poppins-Regular, sans-serif;
}

.container-editor{
    display: flex;
    flex-direction: column;
}

.ql-toolbar.ql-snow{
    border-radius: 10px 10px 0px 0px;
    background-color: white;
}

.ql-container.ql-snow{
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}

.ql-editor p{
    color: black;
}