.student-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px;
}

.student-table th,
.student-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.student-table td input[type="text"] {
    width: 15%;
    min-width: 45px;
    text-align: center;
    padding: 8px;
    border: none;
    border-radius: 3px;
    font-family: Poppins-Regular, sans-serif;
    background: -webkit-linear-gradient(top, #192bcf, #192bcf);
    color: white;
}

.student-table td button {
    background-color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Poppins-Regular, sans-serif;
}

.student-table td button.edit-button:hover {
    background-color: #0056b3;
}

select {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 10px;
    border: none;
    outline: none;
    margin-right: 20px;
}

select option {
    color: #000;
}

.select-turmas {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
}

#data {
    padding: 8px;
    border: none;
    border-radius: 3px;
    font-family: Poppins-Regular, sans-serif;
    background: -webkit-linear-gradient(top, #192bcf, #192bcf);
    color: white;
}

#data::-webkit-calendar-picker-indicator {
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.observacoes {
    border-radius: 5px;
    width: 100%;
    font-family: Poppins-Regular, sans-serif;
}

#saveBtn,
#deletBtn {
    background-color: white;
    border: none;
    margin-top: 20px;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Poppins-Regular, sans-serif;
}