<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/css/administracao.css">
</head>

<body>
    <div class="container">
        <div class="topbar">
            <div class="mobile-menu-button">
                <button id="menu-toggle" onclick="toggleMenu()">☰</button>
            </div>
            <div class="topbar-content">
                <p>Grupo Manhattan</p>
                <img src="/img/perfil-logo.png" alt="Logo">
            </div>
        </div>
        <div class="main">
            <nav class="sidebar">
                <span class="home-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>
                <ul>
                    <li><a href="administracao">Início</a></li>
                    <li><a href="diarioadm">Diário</a></li>
                    <li><a href="presencaadm">Presença</a></li>
                    <li><a href="controledealunos">Controle</a></li>
                    <li><a href="#">Notas</a></li>
                    <li><a href="#">Atividades</a></li>
                    <li><a href="#">Relatórios</a></li>
                </ul>
            </nav>
            <main class="content">
                <header>
                    <h1>Administração de Usuários</h1>
                    <nav class="categorias">
                        <button id="btnGeral">Geral</button>
                        <button id="btnAlunos">Alunos</button>
                        <button id="btnProfessores">Professores</button>
                        <button id="btnFuncionarios">Funcionários</button>
                    </nav>
                </header>
                <section id="user-list">
                    <h2>Lista de Usuários</h2>
                    <!-- Tabela de Alunos -->
                    <table id="tabelaAlunos" style="display: none;">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Função</th>
                                <th>Email</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Guilherme de Albuquerque Sousa</td>
                                <td>Aluno</td>
                                <td>guilherme@gmail.com</td>
                                <td>
                                    <button class="btnEdit">Editar</button>
                                    <button class="btnDelete">Excluir</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Rodrigo Souza Lopes de Andrade</td>
                                <td>Aluno</td>
                                <td>rodrigo@gmail.com</td>
                                <td>
                                    <button class="btnEdit">Editar</button>
                                    <button class="btnDelete">Excluir</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Tabela de Professores -->
                    <table id="tabelaProfessores" style="display: none;">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Função</th>
                                <th>Email</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Murilo de Medeiros Viana</td>
                                <td>Professor</td>
                                <td>murilo@gmail.com</td>
                                <td>
                                    <button class="btnEdit">Editar</button>
                                    <button class="btnDelete">Excluir</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Tabela de Funcionários -->
                    <table id="tabelaFuncionarios" style="display: none;">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Função</th>
                                <th>Email</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>João Henrique Valente Pereira</td>
                                <td>Funcionário</td>
                                <td>joao@gmail.com</td>
                                <td>
                                    <button class="btnEdit">Editar</button>
                                    <button class="btnDelete">Excluir</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Jonas da Silva Melo</td>
                                <td>Funcionário</td>
                                <td>jonas@gmail.com</td>
                                <td>
                                    <button class="btnEdit">Editar</button>
                                    <button class="btnDelete">Excluir</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Tabela Geral -->
                    <table id="tabelaGeral">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Função</th>
                                <th>Email</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <button id="btnAddUser">Adicionar Novo Usuário</button>
                    <input type="file" id="fileInput" style="display: none;" accept=".xlsx, .xls, .csv">
                    <button id="importButton">Importar Planilha</button>
                </section>
            </main>
        </div>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/administracao.js"></script>
</body>

</html>