<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/css/diario.css">
</head>

<body>
    <div class="container">
        <div class="topbar">
            <div class="mobile-menu-button">
                <button id="menu-toggle" onclick="toggleMenu()">☰</button>
            </div>
            <div class="topbar-content">
                <p>Grupo Manhattan</p>
                <img src="/img/perfil-logo.png" alt="Logo">
            </div>
        </div>
        <div class="main">
            <nav class="sidebar">
                <span class="home-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>
                <ul>
                    <li><a href="administracao">Início</a></li>
                    <li><a href="diarioadm">Diário</a></li>
                    <li><a href="presencaadm">Presença</a></li>
                    <li><a href="controledealunos">Controle</a></li>
                    <li><a href="#">Notas</a></li>
                    <li><a href="#">Atividades</a></li>
                    <li><a href="#">Relatórios</a></li>
                </ul>
            </nav>
            <main class="content">
                <h1>Diário de Classe Eletrônico</h1>
                <div class="small-screen">
                    <form action="" method="post">
                        <div class="select-turmas">
                            <div class="turmas">
                                <label for="turma-select">Turma:</label>
                                <select id="turma-select">
                                    <option value="" disabled selected>Selecione</option>
                                    <option value="turma1">Turma 1</option>
                                    <option value="turma2">Turma 2</option>
                                </select>
                            </div>
                            <div class="bimestres">
                                <label for="bimestre-select">Bimestre:</label>
                                <select id="bimestre-select">
                                    <option value="" disabled selected>Selecione</option>
                                    <option value="bimestre1">1º Bimestre</option>
                                    <option value="bimestre2">2° Bimestre</option>
                                </select>
                            </div>
                        </div>
                        <table>
                            <tbody>
                                <tr>
                                    <th colspan="2" class="student-name">Guilherme de Albuquerque Sousa</th>
                                </tr>
                                <tr>
                                    <th>Prova</th>
                                    <td><input type="text" class="nota-prova" value="8.5"></td>
                                </tr>
                                <tr>
                                    <th>Trabalho</th>
                                    <td><input type="text" class="nota-trabalho" value="9.0"></td>
                                </tr>
                                <tr>
                                    <th>Extra</th>
                                    <td><input type="text" class="ponto-extra" value="1.0"></td>
                                </tr>
                                <tr>
                                    <th>Recuperação</th>
                                    <td><input type="text" class="nota-recuperacao" value="7.5"></td>
                                </tr>
                                <tr>
                                    <th>Média</th>
                                    <td><span class="media-bimestre">8.0</span></td>
                                </tr>
                                <tr>
                                    <th>Freq.(%)</th>
                                    <td><input type="text" class="frequencia" value="95%"></td>
                                </tr>
                                <tr>
                                    <th>Observações</th>
                                    <td><textarea class="observacoes">Observações sobre o aluno...</textarea></td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit">Salvar Alterações</button>
                        <button type="delete">Descartar Alterações</button>
                    </form>
                </div>
                <div class="large-screen">
                    <form action="" method="post">
                        <div class="select-turmas">
                            <label for="turma-select">Turma:</label>
                            <select id="turma-select">
                                <option value="" disabled selected>Selecione</option>
                                <option value="turma1">Turma 1</option>
                                <option value="turma2">Turma 2</option>
                            </select>
                            <label for="bimestre-select">Bimestre:</label>
                            <select id="bimestre-select">
                                <option value="" disabled selected>Selecione</option>
                                <option value="bimestre1">1º Bimestre</option>
                                <option value="bimestre2">2° Bimestre</option>
                            </select>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Nome do Aluno</th>
                                    <th>Prova</th>
                                    <th>Trabalho</th>
                                    <th>Extra</th>
                                    <th>Recuperação</th>
                                    <th>Média</th>
                                    <th>Freq.(%)</th>
                                    <th>Observações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Guilherme de Albuquerque Sousa</td>
                                    <td><input type="text" class="nota-prova" value="8.5"></td>
                                    <td><input type="text" class="nota-trabalho" value="9.0"></td>
                                    <td><input type="text" class="ponto-extra" value="1.0"></td>
                                    <td><input type="text" class="nota-recuperacao" value="7.5"></td>
                                    <td><span class="media-bimestre">8.0</span></td>
                                    <td><input type="text" class="frequencia" value="95%"></td>
                                    <td><textarea class="observacoes">Observações sobre o aluno...</textarea></td>
                                </tr>
                                <tr>
                                    <td>João Henrique Valente Pereira</td>
                                    <td><input type="text" class="nota-prova" value="8.5"></td>
                                    <td><input type="text" class="nota-trabalho" value="9.0"></td>
                                    <td><input type="text" class="ponto-extra" value="1.0"></td>
                                    <td><input type="text" class="nota-recuperacao" value="7.5"></td>
                                    <td><span class="media-bimestre">8.0</span></td>
                                    <td><input type="text" class="frequencia" value="95%"></td>
                                    <td><textarea class="observacoes">Observações sobre o aluno...</textarea></td>
                                </tr>
                                <tr>
                                    <td>Jonas da Silva Melo</td>
                                    <td><input type="text" class="nota-prova" value="8.5"></td>
                                    <td><input type="text" class="nota-trabalho" value="9.0"></td>
                                    <td><input type="text" class="ponto-extra" value="1.0"></td>
                                    <td><input type="text" class="nota-recuperacao" value="7.5"></td>
                                    <td><span class="media-bimestre">8.0</span></td>
                                    <td><input type="text" class="frequencia" value="95%"></td>
                                    <td><textarea class="observacoes">Observações sobre o aluno...</textarea></td>
                                </tr>
                                <tr>
                                    <td>Murilo de Medeiros Viana</td>
                                    <td><input type="text" class="nota-prova" value="8.5"></td>
                                    <td><input type="text" class="nota-trabalho" value="9.0"></td>
                                    <td><input type="text" class="ponto-extra" value="1.0"></td>
                                    <td><input type="text" class="nota-recuperacao" value="7.5"></td>
                                    <td><span class="media-bimestre">8.0</span></td>
                                    <td><input type="text" class="frequencia" value="95%"></td>
                                    <td><textarea class="observacoes">Observações sobre o aluno...</textarea></td>
                                </tr>
                                <tr>
                                    <td>Rodrigo Souza Lopes de Andrade</td>
                                    <td><input type="text" class="nota-prova" value="8.5"></td>
                                    <td><input type="text" class="nota-trabalho" value="9.0"></td>
                                    <td><input type="text" class="ponto-extra" value="1.0"></td>
                                    <td><input type="text" class="nota-recuperacao" value="7.5"></td>
                                    <td><span class="media-bimestre">8.0</span></td>
                                    <td><input type="text" class="frequencia" value="95%"></td>
                                    <td><textarea class="observacoes">Observações sobre o aluno...</textarea></td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit">Salvar Alterações</button>
                        <button type="delete">Descartar Alterações</button>
                    </form>
                </div>
            </main>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>