<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
	<div class="container">
		<div class="container-login" style="background-image: url('/img/background.jpg');">
			<div class="wrap-login">
				<form class="login-form validate-form">
					<span class="login-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login-form-title">
						Login
					</span>

					<div class="social-button">
                        <a href="#" class="google-btn">
                            <img src="/img/google-logo.png" alt="Google">
                        </a>
                        <a href="#" class="facebook-btn">
                            <img src="/img/facebook-logo.svg" alt="Facebook">
                        </a>
                        <a href="#" class="microsoft-btn">
                            <img src="/img/microsoft-logo.svg" alt="Microsoft">
                        </a>
                    </div>

                    <div class="divider">
                        <span class="divider-text">OU</span>
                    </div>

					<div class="wrap-input validate-input">
						<input class="input" type="text" name="username" placeholder="Usuário" autocomplete="email">
						<span class="focus-input" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input validate-input">
						<input class="input" type="password" name="pass" placeholder="Senha">
						<span class="focus-input" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact-form-checkbox">
						<input class="input-checkbox" id="ckb1" type="checkbox">
						<label class="label-checkbox" for="ckb1">
							Lembrar
						</label>
					</div>

					<div class="container-login-form-btn">
						<button class="login-form-btn">
							Login
						</button>
					</div>

					<div class="text-center">
						<a class="txt1" href="#">
							Esqueci minha senha
						</a>
						<br>
						<a class="txt1" href="cadastro.html">
                            Ainda não tem uma conta? Cadastre-se
                        </a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>