<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Terceira Tela</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/tela3.css">
</head>

<body>
    <div class="container">
        <div class="container-terceira-tela" style="background-image: url('../../public/img/background.jpg');">
            <div class="wrap-terceira-tela">
                <form class="terceira-tela-form validate-form">
                    <span class="terceira-tela-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>
                    <span class="terceira-tela-form-title">Terceira Tela</span>

                    <div class="wrap-input">
                        <select id="primeiro-select" onchange="mostrarSegundoInput()">
                            <option value="" disabled selected>Selecione a Turma</option>
                            <option value="opcao1">Turma 1101</option>
                            <option value="opcao2">Turma 1201</option>
                            <option value="opcao3">Turma 1301</option>
                        </select>
                    </div>

                    <div class="wrap-input" id="segundo-select" style="display: none;">
                        <select id="segundo-select-element" onchange="mostrarTerceiroInput()">
                            <option value="" disabled selected>Selecione o Aluno</option>
                            <option value="opcaoA">Aluno A</option>
                            <option value="opcaoB">Aluno B</option>
                            <option value="opcaoC">Aluno C</option>
                        </select>
                    </div>
                    
                    <div class="wrap-input" id="caixa-de-texto" style="display: none;">
                        <p style="color: white; padding-left: 5px;">Resumo</p>
                        <br>
                        <textarea type="text" placeholder="Digite algo"></textarea>
                    </div>

                    <!-- Botão -->
                    <div class="container-terceira-tela-form-btn">
                        <button type="button" class="terceira-tela-form-btn">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function mostrarSegundoInput() {
            var segundoSelect = document.getElementById("segundo-select");
            var primeiroSelect = document.getElementById("primeiro-select");
            var segundoSelectElement = document.getElementById("segundo-select-element");

            if (primeiroSelect.value !== "") {

                segundoSelect.style.display = "block";

                segundoSelectElement.selectedIndex = 0;
            } else {
                segundoSelect.style.display = "none";
            }

            document.getElementById("caixa-de-texto").style.display = "none";
        }

        function mostrarTerceiroInput() {
            var terceiroInput = document.getElementById("caixa-de-texto");
            var segundoSelectElement = document.getElementById("segundo-select-element");

            if (segundoSelectElement.value !== "") {
                terceiroInput.style.display = "block";
            } else {
                terceiroInput.style.display = "none";
            }
        }
        mostrarSegundoInput();
        mostrarTerceiroInput();

    </script>
</body>

</html>