<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Verificação do Token</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="/css/verify-token.css">
</head>

<body>
    <div class="container">
        <div class="container-verify-token" style="background-image: url('/img/background.jpg');">
            <div class="wrap-verify-token">
                <form class="verify-token-form validate-form" id="verify-token-form">
                    <span class="verify-token-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="verify-token-form-title">
                        Verificar Token
                    </span>
                    <p>Insira abaixo o token recebido no seu email/celular.</p>
                    <div class="wrap-input validate-input">
                        <input class="input" type="text" id="verificationToken" name="verificationToken" placeholder="Insira o Token" required>
                        <span class="focus-input" data-placeholder="&#xf191;"></span>
                    </div>
                    <div class="container-verify-token-form-btn">
						<button class="verify-token-form-btn">
							Verificar
						</button>
					</div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>