.rbc-today {
    background-color: #1515b1;
}

.rbc-toolbar button {
    color: black;
    background-color: white;
    border: none;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Poppins-Regular, sans-serif;
}
.rbc-toolbar button:hover{
    background-color: #192bcf !important;
    color: white !important;
    border: 1px solid white !important;
}

.rbc-off-range-bg{
    background-color: white;
}

.rbc-off-range button{
    color: black;
}

button.rbc-active{
    background-color: #192bcf !important;
    color: white !important;
    border: 1px solid white !important;
}

.btnAddEvent{
    background-color: white;
    border: none;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Poppins-Regular, sans-serif;
}

.btnAddEvent a{
    color: black;
}