@media (max-width: 900px) {
    h1, h2 {
        text-align: center !important;
    }

    .anotacoes-container{
        flex-flow: column;
        align-items: center !important;
    }

    .editor-container {
        margin: 20px 0px 20px 0px !important;
        width: 73vw !important;
        height: 51vh !important;
    }
}

.editor-container {
    padding: 10px;
    margin: 20px 20px 20px 0px;
    width: 50vw;
    height: 51vh;
}

.editor {
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

.save-button {
    background-color: white;
    color: black;
    border: none;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Poppins-Regular, sans-serif;
}

p {
    color: black;
}

.ql-container {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 33.6vh;
    margin: 0px;
    position: relative;
}

.ql-editor{
    color: black;
}

.anotacoes-container {
    display: flex;
}

.anotacoes-list-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.anotacoes-list-container h2{
    text-align: center;
}

.anotacoes-list-container p {
    color: white !important;
    text-align: justify;
}

.anotacao{
    margin-top: 15px;
}

.anotacao h3{
    margin-bottom: 10px;
    padding-top: 5px;
    border-top: 1px solid white;
}