@font-face {
    font-family: Poppins-Regular;
    src: url('/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('/fonts/poppins/Poppins-SemiBold.ttf');
}

@media screen and (max-width: 768px) {

    .sidebar {
        display: none;
        width: 100%;
    }

    .mobile-menu-button {
        display: block;
        position: absolute;
        left: 25px;
        top: 23px;
    }

    #menu-toggle {
        background-color: #192bcf;
        color: white;
        border: none;
        padding: 10px 15px;
        font-size: 20px;
        cursor: pointer;
    }

    .content {
        padding: 15px !important;
        margin: 20px 20px 20px 20px !important;
    }

    .large-screen {
        display: none;
    }

    .small-screen {
        display: block;
    }

    .select-turmas {
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
        align-content: flex-start !important;
        justify-content: flex-start !important;
    }

    .turmas,
    .bimestres {
        display: flex !important;
        align-items: center;
    }

    h1 {
        text-align: center !important;
    }
}

@media screen and (min-width: 769px) {

    .mobile-menu-button {
        display: none;
        position: absolute;
        left: 25px;
        top: 23px;
    }

    .small-screen {
        display: none;
    }

    .large-screen {
        display: block;
    }

    .select-turmas {
        align-items: center;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

    .container::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }

.topbar {
    display: flex;
    align-items: center;
    margin: 20px 20px 0px 20px;
    border-radius: 10px;
    color: white;
    padding: 10px 15px 10px 10px;
    justify-content: flex-end;
    background: -webkit-linear-gradient(top, #192bcf, #192bcf);
    background: -o-linear-gradient(top, #192bcf, #192bcf);
    background: -moz-linear-gradient(top, #192bcf, #192bcf);
    background: linear-gradient(top, #192bcf, #192bcf);
}

.topbar-content {
    display: flex;
    align-items: center;
}

    .topbar-content p {
        margin-right: 10px;
    }

    .topbar-content img {
        max-width: 40px;
        max-height: 40px;
        filter: invert(1);
    }

.main {
    display: flex;
    flex-direction: row;
    min-height: 92vh;
    width: 100%;
}

.sidebar {
    min-height: 100%;
    min-width: 200px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 35px 37px 35px;
    margin: 20px;
    text-align: center;
    background: -webkit-linear-gradient(top, #192bcf, #192bcf);
    background: -o-linear-gradient(top, #192bcf, #192bcf);
    background: -moz-linear-gradient(top, #192bcf, #192bcf);
    background: linear-gradient(top, #192bcf, #192bcf);
}



.home-logo {
    font-size: 60px;
    color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.zmdi-landscape:before {
    content: url(/img/RIOPREFEITURA.png);
}

.sidebar ul {
    list-style: none;
}

    .sidebar ul li {
        margin-top: 20px;
    }

    .sidebar ul a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

        .sidebar ul a::after {
            content: '';
            width: 0px;
            height: 1px;
            display: block;
            background: white;
            transition: 300ms;
        }

        .sidebar ul a:hover::after {
            width: 100%;
        }

.content {
    width: 100%;
    color: white;
    padding: 35px;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, #192bcf, #192bcf);
    background: -o-linear-gradient(top, #192bcf, #192bcf);
    background: -moz-linear-gradient(top, #192bcf, #192bcf);
    background: linear-gradient(top, #192bcf, #192bcf);
}

select {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 10px;
    border: none;
    outline: none;
    margin-right: 25px;
}

    select option {
        color: #000;
    }

.select-turmas {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    margin-bottom: 20px;
}

    table th,
    table td {
        padding: 10px;
        text-align: center;
    }

    table th {
        background: -webkit-linear-gradient(top, #192bcf, #192bcf);
        color: white;
    }

    table tr {
        border-top: 1px solid white;
    }

input[type="text"],
textarea {
    padding: 5px;
}

textarea {
    border-radius: 5px;
    height: 80px;
    font-family: Poppins-Regular, sans-serif;
}


.nota-prova,
.nota-trabalho,
.ponto-extra,
.nota-recuperacao,
.frequencia {
    width: 15%;
    min-width: 45px;
    text-align: center;
    padding: 8px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid white;
    font-family: Poppins-Regular, sans-serif;
    background: -webkit-linear-gradient(top, #192bcf, #192bcf);
    color: white;
}

.media-bimestre {
    font-size: 15px;
    border-bottom: 1px solid white;
}

.student-name {
    font-size: 25px;
    margin-top: 10px;
}

button {
    background-color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Poppins-Regular, sans-serif;
}
